.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ecf0f1;
  overflow-y: auto;
}

/* Header */
.header {
  padding: 0 30px 0 30px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  background-color: #0f2573;
  color: white;
}

.header .patient-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .patient-actions select {
  margin-right: 10px;
}

.header .patient-actions button {
  /* background: none; */
  border: none;
  cursor: pointer;
  color: #0f2573;
  font-size: 2rem;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.header .patient-actions button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* End Header */

.sidebar {
  background-color: #0f2573;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 160px;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 10px;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: "Lobster";
  /* color: rgba(137, 196, 244); */
  color: white;
  text-shadow: 2px 2px 4px rgba(247, 242, 242, 0.3);
}

.sidebar-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sidebar-list-item {
  padding: 15px 20px;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  background: none;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}

.sidebar-list-item:hover,
.sidebar-list-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: white;
}

.sidebar-list-item i {
  margin-right: 15px;
}

.logout-button {
  margin-top: auto;
  margin-bottom: 10px;
}

#patient-select {
  padding: 5px; /* Add padding for better spacing */
  border: 2px solid #0f2573; /* Border color to match your theme */
  border-radius: 10px; /* Rounded corners */
  background-color: white; /* Background color */
  font-size: 14px; /* Font size */
  color: #0f2573; /* Text color */
}

.unread-badge {
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  margin-left: 8px;
  display: inline-block;
}
