.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "hr-card-area hrv-card-area steps-card-area"
    "hr-card-area hrv-card-area steps-card-area"
    /* "hr-card-area hrv-card-area br-card-area" */
    "spo2-card-area sleep-card-area br-card-area"
    "spo2-card-area sleep-card-area skinTemp-card-area";
  /* "spo2-card-area sleep-card-area skinTemp-card-area"; */
  gap: 20px;
}

.card-header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #0f2573;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.grid-container > div:hover {
  transform: scale(1.05); /* Slightly enlarge the grid item */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a stronger shadow */
}

.hr-card {
  color: #161b61;
  grid-area: hr-card-area;
}

.br-card {
  grid-area: br-card-area;
}

.spo2-card {
  grid-area: spo2-card-area;
}

.sleep-card {
  grid-area: sleep-card-area;
}

.hrv-card {
  grid-area: hrv-card-area;
}

.skinTemp-card {
  grid-area: skinTemp-card-area;
}

.steps-card {
  grid-area: steps-card-area;
}
